<h1>Listing athletes</h1>

<table class="table table-bordered table-condensed table-striped">
<thead>
  <tr>
    <th>S/N</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Jahrgang</th>
    <th>Geschlecht</th>
    <th>Verein</th>
    <th>Lizenz</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
<% @athletes.each do |athlete| %>
  <tr>
    <td><%= athlete.startnr %></td>
    <td><%= athlete.vorname %></td>
    <td><%= athlete.nachname %></td>
    <td><%= athlete.jahrgang %></td>
    <td><%= athlete.geschlecht %></td>
    <td><%= athlete.verein %></td>
    <td><%= athlete.lizenz %></td>
    <td>
      <%= link_to 'Show', "/athletes/" + athlete.id.to_s, class: 'btn btn-primary btn-mini' %>
      <%= link_to 'Edit', "/athletes/" + athlete.id.to_s + "/edit", class: 'btn btn-primary btn-mini' %>
      <%= link_to 'Destroy', "/athletes/" + athlete.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Athlete', new_athlete_path %>
