<h1>Rangliste <%= @category.titel %></h1>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Verein</th>
      <th>Jahrgang</th>
      <th>Zeit</th>
    </tr>
  </thead>
  <tbody>
    <% @category.athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.id %></td>
        <td><%= athlete.vorname %></td>
        <td><%= athlete.nachname %></td>
        <td><%= athlete.verein %></td>
        <td><%= athlete.jahrgang %></td>
        <td class="zeit"><%= athlete.zeit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
