
<% if flash[:error] %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Fehler!</strong> <%= flash[:error] %>
</div>
<% end %>

<h1><%= @category.titel %>

<form action="/categories/<%= @category.name %>/result" method="POST" class="form-inline" style="float:right">
  <input class="input-small" autofocus name="startnr" type="text" placeholder="Startnummer" />
  <input class="input-small" name="zeit" type="text" placeholder="Zeit" />
  <button class="btn btn-primary">speichern</button>
</form>
</h1>

<p>
  <a class="btn" href="/categories/<%= @category.name %>/startliste">Startliste</a>
  <a class="btn" href="/categories/<%= @category.name %>/rangliste">Rangliste</a>
</p>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Verein</th>
      <th>Jahrgang</th>
      <th>Zeit</th>
    </tr>
  </thead>
  <tbody>
    <% @category.athletes.each_with_index do |athlete, i| %>
      <tr>
        <td><%= link_to athlete.startnr, "/athletes/" + athlete.id.to_s %></td>
        <td><%= athlete.vorname %></td>
        <td><%= athlete.nachname %></td>
        <td><%= link_to athlete.verein, "/verein/" + athlete.verein.to_s %></td>
        <td><%= athlete.jahrgang %></td>
        <td>
          <span class="zeit"><%= athlete.zeit %></span>
          <% if i < 8 %>
          <a class="btn btn-mini btn-primary" style="float:right" href="/categories/<%= @category.name %>/diplom/<%= athlete.startnr %>?rang=<%= i + 1 %>">Diplom</a>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
