<h1>Startliste <%= @category.titel %></h1>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Verein</th>
    </tr>
  </thead>
  <tbody>
    <% @category.athletes.each_with_index do |athlete, i| %>
      <tr>
        <td><%= athlete.id %></td>
        <td><%= athlete.vorname %></td>
        <td><%= athlete.nachname %></td>
        <td><%= athlete.verein %></td>
      </tr>
    <% end %>
  </tbody>
</table>

