<% @categories.each do |cat| %>
<section style="page-break-inside:avoid">
<h1><%= cat.titel %></h1>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Rang</th>
      <th>S/N</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Verein</th>
      <th>Zeit</th>
      <th>Rang</th>
    </tr>
  </thead>
  <tbody>
    <% cat.athletes.select{|a| !a.zeit.nil? }.each_with_index do |athlete, i| %>
      <tr>
        <td><strong><%= i + 1 %></strong></td>
        <td><%= athlete.startnr %></td>
        <td><%= athlete.vorname %></td>
        <td><%= athlete.nachname %></td>
        <td><%= athlete.verein %></td>
        <td><span class="zeit"><%= athlete.zeit %></span></td>
        <td><strong><%= i + 1 %></strong></td>
      </tr>
    <% end %>
  </tbody>

</table>
</section>
<% end %>
